<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cybertek</title>

<!--
Container for metadata that is not displayed
Title, Styles (CSS), Link, Scripts, Meta and other
-->

    <meta name="Emrah">

</head>
<body>

    Welcome to Developer Course !!!

    <h1>Spring Boot</h1>
    <h2>Spring Boot</h2>
    <h3>Spring Boot</h3>

    <h1 align="center" style="color: aquamarine">Spring Framework</h1>

    <img src="springboot.png" alt="Spring Boot Image">

    <ul>
        <li>MVC</li>
        <li>ORM</li>
        <li>API</li>
    </ul>

    <a href="https://amazon.com">Amazon</a>

    <table>
        <tr>
            <td>Loop</td>
            <td>Collection</td>
            <td>Stream</td>
        </tr>

        <tr>
            <td>IoC</td>
            <td>DE</td>
            <td>Value</td>
        </tr>
    </table>

        <!--FORMS-->

    <label>User Name:</label>
    <input type="text" name="username"><br>

    <label>Password:</label>
    <input type="password"><br>

    <label>Enter your commnets:</label>
    <textarea name="Comments"></textarea><br>

    <label>Please select your fav subject:</label><br>
    <input type="radio" name="Spring" value="IoC" checked="checked">IOC
    <input type="radio" name="Spring" value="DI" checked="checked">DI
    <input type="radio" name="Spring" value="MVC" checked="checked">MVC
    <br>

    <label>Please select your company:</label><br>
    <input type="checkbox" name="Company" value="Bank of America">Bank of America
    <input type="checkbox" name="Company" value="Soutwest Airlines">Soutwest Airlines
    <input type="checkbox" name="Company" value="Limted">Limted
    <br>

    <label>Select your car:</label>
    <select name="cars">
        <option value="Honda">Honda</option>
        <option value="Toyota">Toyota</option>
        <option value="Mazda">Mazda</option>
    </select>
    <br>

    <form action="#" method="get">
        First Name:<input type="text" name="first name"/>
        <br>
        Last Name:<input type="text" name="last name"/>
    </form>

    <div>
        <h3>This is Java Developer Course</h3>
        <ul>
            <li>Spring Framework</li>
            <li>Security</li>
            <li>Unit Testing</li>
        </ul>
    </div>

</body>
</html>